.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px; /* Ancho de la barra de navegación */
  background-color: #fff; /* Cambia el color de fondo según tu preferencia */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* Los elementos se apilan verticalmente */
}

/* Estilo para el contenido dentro de "Art" */
.navbar-nav {
  list-style: none;
  padding: 10px 0;
}

.navbar-nav .nav-item {
  margin: 0;
}

.navbar-nav .nav-link {
  padding: 8px 15px;
}


.navbar-expanded {
  width: 300px; 
}
.art-options {
  font-size: 30px; /* Tamaño de letra personalizado */
  font-family: 'Oswald', sans-serif;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

p{
  color: rgb(255, 255, 255);
}
.centered {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  
}
.content-right {
  margin-left: 500px;
}
.custom-button {
  background-color: #515151; /* Color de fondo personalizado (en este caso, naranja) */
  color: #FFFFFF; /* Color de texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Relleno del botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima */

}
.content-window {
  display: inline-block;
  background-color: #fff; /* Fondo blanco */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra */
  padding: 15px;
  max-width: 600px;
  max-height:700px;
  margin-top: 60px;

}
.content-right .container {

  display: inline-block;
  max-width: 600px;
  max-height:670px
}
.fit-image {
  display: inline-block;
}