/* App.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cambia el color de fondo de la página */
    margin: 0;
    padding: 0;
  }
  
  .App {
    text-align: center;
    max-width: 1200px; /* Limita el ancho de la página para que no sea demasiado ancha */
    margin: 0 auto; /* Centra el contenido en el medio de la página */
    padding: 20px;
  }
  
  .App-header {
    background-color: #3498db; /* Cambia el color de fondo del encabezado */
    color: white;
    padding: 20px;
    border-bottom: 2px solid #ff5722; /* Agrega un borde inferior al encabezado */
  }
  
  .metrics-container {
    display: flex; /* Coloca los componentes de métricas uno al lado del otro */
    justify-content: space-between; /* Espaciado uniforme entre los componentes */
    margin: 20px 0;
    background-color: #ffffff; /* Cambia el color de fondo del contenedor de métricas */
    border: 1px solid #ccc; /* Agrega un borde al contenedor de métricas */
    border-radius: 5px; /* Añade bordes redondeados al contenedor */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra ligera */
  }
  
  .titulo {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .metrics-list {
    padding: 20px;
    font-size: 14px;
    max-width: 45%; /* Limita el ancho del contenedor de métricas */
  }
  
  .product-list,
  .columns2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .product-list li,
  .columns2 li {
    margin: 5px 0;
  }
  