  .metrics-container {
    float: right;
    margin-right: 20px; 
    text-align: center; 
  }
  
  .titulo {
    background-color: rgba(28, 28, 102, 0.7); /* Agregar opacidad al color de fondo */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-right: 190px;
    margin-top: 20px;
    border-radius: 4px;
    transition: background-color 0.3s; /* Agregar una transición suave al cambio de color de fondo */
  }
  
  .titulo:hover {
    background-color: rgba(28, 28, 102, 1); /* Cambiar el color de fondo al pasar el mouse para mostrar el botón de manera más sólida */
  }
  
  .total{
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
  
  .metrics-list {
    background-color: #ffd5d5; 
    padding: 20px; 
    font-size: 14px; 
    margin-top: 20px;
    border-radius: 4px;
    text-align: left;

  }
  
  .product-list {
    list-style-type: none; 
      padding: 0;
      margin: 0;
  }
  
  .product-list li {
    margin: 5px 0;
  }
  