  .metrics-container {
    float: right;
    margin-right: 20px; 
    text-align: center; 
  }
  .enlace {
    text-decoration: none;
    color: #000;
  }

  .titulo {
    background-color: rgba(28, 28, 102, 0.7); 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-right: 190px;
    margin-top: 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: 'Roboto Mono', monospace; 
  }
  
  .titulo:hover {
    background-color: rgba(28, 28, 102, 1); 
  }
  
  .total{
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
  
  .metrics-list {
    background-color: #ffd5d5; 
    padding: 20px; 
    font-size: 14px; 
    margin-top: 20px;
    border-radius: 4px;
    text-align: left;
    font-family: 'Roboto Mono', monospace; 
  }
  .metrics-list-details {
    background-color: #ffd5d5;
    padding: 20px;
    font-size: 14px;
    border-radius: 4px;
    text-align: left;
    max-width: 250px;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family: 'Roboto Mono', monospace; 
  }

  .product-list {
    list-style-type: none; 
      padding: 0;
      margin: 0;
  }
  
  .product-list li {
    margin: 5px 0;
  }
  