/* metrics.css */

.metrics-container {
  float: right; /* Para colocar el componente a la derecha de la página */
  margin-right: 20px; /* Espacio entre el componente y el borde derecho de la página */
  text-align: center; /* Alinear el contenido al centro */
}

.titulo {
  background-color: #ff5722; /* Cambiar el color de fondo del botón */
  color: white; /* Cambiar el color del texto del botón */
  padding: 10px 20px; /* Añadir espacio alrededor del botón */
  font-size: 16px; /* Tamaño de fuente del botón */
  font-weight: bold; /* Hacer el texto en negrita */
  border: none; /* Eliminar el borde del botón */
  cursor: pointer; /* Cambiar el cursor al pasar por encima del botón */
}

.metrics-list {
  background-color: #f2f2f2; /* Cambiar el color de fondo de la lista de métricas */
  padding: 10px; /* Añadir espacio alrededor de la lista de métricas */
  font-size: 14px; /* Tamaño de fuente de la lista de métricas */
}

.product-list {
  list-style-type: none; /* Eliminar viñetas de la lista de escuelas */
    padding: 0;
    margin: 0;
}

.product-list li {
  margin: 5px 0; /* Espacio entre elementos de la lista */
}
